<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onur.easyspeakdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <permission
        android:name="android.permission.BLUETOOTH"
        android:label="BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Openning_screen"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dersSecimi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventActvity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.firebaseDemo.StudentsActivity" />
        <activity
            android:name="com.studentsTabLayout.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.user.StudentRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.user.TeacherRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.firebaseDemo.TeacherActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowTeacherMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowStudentMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alam_kanak.AlamKanakView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.user.AdminRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowAdminMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.teacherTabLayout.Main3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.StudentMenu.StudentSurveyActivity" />
        <activity android:name=".ShowSurveyRequest" />
        <activity android:name=".SurveyRequest" />

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".webView_activity"></activity>

        <activity android:name="com.StudentMenu.StudentSurveyApprovedActivity" />
        <activity android:name="com.tureng.TurengTranslate">

        </activity>

    </application>

</manifest>